{% extends 'base.html.twig' %}

{% block title %}billeterie{% endblock %}

{% block body %}
    <div class="espaceBillet">
        <div class="billeterie col-md-6">
            <div class="ticket">
                <img src="/img/ticket.png">
                <h4 class="tarif">Tarif des billets </h4>
            </div>
            <table class="table table-primary w-100">
                <thead>
                <tr>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Prix</th>
                </tr>
                </thead>
                <tbody>
                {% for price in prices %}
                    <tr>
                        <td>{{ price.title }}</td>
                        <td>{{ price.count }}€</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="reservation col-md-6">
            <div class="nbreTicktes">
                <h4>Reservation</h4>
            </div>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Adultes</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Enfants</label>
                    <select class="form-control" id="exampleFormControlSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <button class="btn btn-warning"><span class="glyphicon  glyphicon-shopping-cart"></span><a href="{{ path('panier_index') }}"> Ajouter au panier</a></button>    </br></br>
                </div>
            </form>
        </div>
    </div>


{% endblock %}