{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-around mb-5 mt-5">
            <div class="card" style="width: 18rem;">
                <img src="img/rire.jpg" class="card-img-top" alt="clown">
                <div class="card-body">
                    <p class="card-text text-center">Rire</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text text-center mt-5">En tant qu'adulte, venez découvrir nos clowns irrésistibles, entre blagues et farces laissez-vous emporter par leur joie et retombez dans l'enfance.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mb-5 mt-5">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text text-center mt-5">Laissez-vous emporter dans un monde où le réel et l'imaginaire ne font qu'un, en compagnie de nos talentueux magiciens, découvrez un monde merveilleux limité uniquement par votre imagination.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/rever_640.jpg" class="card-img-top" alt="femme jongleuse">
                <div class="card-body">
                    <p class="card-text text-center">Rêver</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mb-5 mt-5">
            <div class="card" style="width: 18rem;">
                <img src="img/emerveiller.jpg" class="card-img-top" alt="tigre">
                <div class="card-body">
                    <p class="card-text text-center">S'émerveiller</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text text-center mt-5">Domptez l'indomptable en compagnie de nos dompteurs, entre rugissements et griffes acérées, regardez ces féroces félins se transformer en doux chatons.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}