{% apply inline_css %}
    <style>
        body{
            background-color: rgb(238, 175, 3);
        }
    </style>
    <container>
        <row class="header header-light bg-primary">
            <columns>
                <h2 class="text-center">Merci pour votre message :</h2>
                <h3>{{ mailContact }}</h3>
                <h4>Nous vous répondrons dans les meilleurs délais !</h4>

            </columns>
        </row>

    </container>
{% endapply %}