{% extends 'base.html.twig' %}

{% block title %}Galerie Photos{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-around mb-5 mt-5">
            <div class="card" style="width:300px; height: 500px">
                <img class="card-img-top" style="height: 350px" src="img/gallery_640.jpg" alt="Card image">
                <div class="card-body bg-primary align-middle">
                    <h4 class="card-title text-center mt-3 text-secondary" id="titleCard">Flavio et son tigre</h4>
                </div>
            </div>
            <div class="card" style="width:300px; height: 500px">
                <img class="card-img-top" style="height: 350px" src="img/Magda.jpg" alt="Card image">
                <div class="card-body bg-primary">
                    <h4 class="card-title text-center mt-3 text-secondary" id="titleCard">Le hoola hop selon Magda !</h4>
                </div>
            </div>
            <div class="card" style="width:300px; height: 500px;">
                <img class="card-img-top" style="height: 350px" src="img/girl_640.jpg" alt="Card image">
                <div class="card-body bg-primary">
                    <h4 class="card-title text-secondary mt-3 text-center" id="titleCard">Ursula en apesanteur</h4>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mb-5 mt-5">
            <div class="card" style="width:300px; height: 500px;">
                <img class="card-img-top" style="height: 350px" src="img/elephant_640.jpg" alt="Card image">
                <div class="card-body bg-primary">
                    <h4 class="card-title text-center mt-3 text-secondary" id="titleCard">Sonia notre éléphante</h4>
                </div>
            </div>
            <div class="card" style="width:300px; height: 500px;">
                <img class="card-img-top" style="height: 350px" src="img/achille_640.jpg" alt="Card image">
                <div class="card-body bg-primary">
                    <h4 class="card-title text-secondary mt-3 text-center" id="titleCard">Le clown Achille</h4>
                </div>
            </div>
            <div class="card" style="width:300px; height: 500px;">
                <img class="card-img-top" style="height: 350px" src="img/acrobats_640.jpg" alt="Card image">
                <div class="card-body bg-primary">
                    <h4 class="card-title text-center mt-3 text-secondary" id="titleCard">La troupe Mirzov</h4>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mb-5 mt-5">
            <div class="card" style="width:300px; height: 500px;">
                <img class="card-img-top" style="height: 350px" src="img/rope-walkers_640.jpg" alt="Card image">
                <div class="card-body bg-primary">
                    <h4 class="card-title text-center mt-3 text-secondary" id="titleCard">Les frères Zlatov</h4>
                </div>
            </div>
            <div class="card" style="width:300px; height: 500px;">
                <img class="card-img-top" style="height: 350px" src="img/circus_640.jpg" alt="Card image">
                <div class="card-body bg-primary">
                    <h4 class="card-title text-secondary mt-3 text-center" id="titleCard">Le final !</h4>
                </div>
            </div>
            <div class="card" style="width:300px; height: 500px;">
                <img class="card-img-top" style="height: 350px" src="img/walker_640.jpg" alt="Card image">
                <div class="card-body bg-primary">
                    <h4 class="card-title text-secondary mt-3 text-center" id="titleCard">Andreï Zlatov</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}