<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-primary">

    <!-- Footer Elements -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">A propos</h5>
                <p>Le Wild Circus a été fondé en 2014 pour apporter joie et bonne humeur aux jeunes et aux moins jeunes dans plusieurs villes de France et d'Europe.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mt-3" id="logos">

                <!-- Content -->
                <a class="fa-ic" href="#">
                    <img class="img" src="img/facebook.png">
                </a>
                <!-- Twitter -->
                <a class="tw-ic" href="#">
                    <img class="img" src="img/twitter.png">
                </a>
                <!--Linkedin -->
                <a class="li-ic" href="#">
                    <img class="img" src="img/linkedin.png">
                </a>
                <!--Instagram-->
                <a class="ins-ic" href="#">
                    <img class="img" src="img/instagram.png">
                </a>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center bg-secondary">© 2020 Copyright:
        <a href="https://www.wildcodeschool.com/fr-FR"> Wild Code School - Philippe</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- footer -->