{% extends 'base.html.twig' %}

{% block title %}billeterie{% endblock %}

{% block body %}
    <div style="text-align: center">
        <h1 style="text-align: center">ERREUR {{ status_code }}</h1>
        <img src="img/clown_tueur.jpg">
    </div>
{% endblock %}